@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Abc.WebUI.Models.UserDetailsViewModel

<ul class="dropdown-menu dropdown-menu-right"> 
    @if (!String.IsNullOrEmpty(Model.UserName))
    {
        <li>        
            <a> Welcome @Model.UserName</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="LogOff">Log Off</a>
        </li>  
    }
</ul>